$font-color: rgb(107, 113, 127);

.bigtext {
  font-size: 1.2em;
  color: darken($font-color, 40);
  letter-spacing: 1px;
  border-bottom: 1px solid silver;
}

div.install--section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  .install--section--applications {
    width: 50%;
    padding: 1rem;
    .mouselogo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      margin: 2rem 0;
      font-size: 1.3em;
      color: darken($font-color, 10);
      .lighttext {
        color: lighten($font-color, 10);
        font-size: 0.9em;
      }
    }
    ul {
      margin-left: 1.1rem;
    }
  }
  .install--section--commandline {
    .bigtext {
      border: none;
    }
    width: 50%;
    // border: 2px solid black;
    padding: 1rem;
    .keyboardlogo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      margin: 2rem 0;
      .bigtext {
        font-size: 1em;
      }
    }
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1.2rem 0;
      .boxtext {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid silver;
        // background: lighten($font-color, 10);
        background-color: rgb(244, 235, 244);
        .bigtext {
          padding: 1.8rem;
          color: lighten($font-color, 2);
        }
      }
    }
    .btn {
      padding: 0.9rem 0.7rem;
      font-size: 1.2rem;
      letter-spacing: 1px;
      font-family: "Poppins", cursive;
      font-weight: 400;
      color: white;
      background-color: $font-color;
      border: none;
      border-radius: 0.4rem;
      margin-bottom: 1rem;
      &:hover {
        cursor: pointer;
        background: lighten($font-color, 10);
      }
    }
    .text--style {
      .text--heading {
        font-size: 1rem;
        margin: 0.2rem 0;
      }
      .text {
        margin: 0;
      }
    }
  }
}
