$highlight-color: blue;

.variable {
  width: 70%;
  float: right;
  transform: translate(-2rem, 9rem);
  padding: 1rem;
  clear: both;
  .variable--header {
    font-size: 2.5rem;
    margin-bottom: 0.625rem;
    span.link {
      font-size: 1.4rem;
    }
  }
  .variable--text-first {
    line-height: 1.7;
    font-size: 1.45rem;
    padding: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
  }
  .variable--text-second {
    line-height: 1.7;
    font-size: 1.25rem;
    padding: 0.9rem;
    color: grey;
    .highlight {
      color: $highlight-color;
    }
  }
}
